.login {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--background);
}

/* Left Side */

.login-left {
    background: linear-gradient(135deg, #0F2343, #183A6B);
    color: white;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.brand h1 {
    font-size: 2.2rem;
    font-weight: 700;
}

.brand p {
    margin-top: 8px;
    color: #CBD5E1;
}

.hero h2 {
    font-size: 2.8rem;
    margin-bottom: 15px;
}

.hero p {
    max-width: 450px;
    color: #E2E8F0;
    line-height: 1.7;
}

/* Right Side */

.login-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.login-card {
    width: 100%;
    max-width: 420px;
    background: white;
    padding: 40px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.login-card h2 {
    margin-bottom: 8px;
}

.login-card>p {
    color: var(--text-light);
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 8px;
    font-weight: 500;
}

.form-group input {
    padding: 14px;
    border: 1px solid var(--border);
    border-radius: 8px;
    font-size: 15px;
}

.form-group input:focus {
    border-color: var(--primary);
}

.login-btn {
    width: 100%;
    padding: 14px;
    background: var(--primary);
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    transition: .3s;
}

.login-btn:hover {
    background: var(--primary-hover);
}

.register-link {
    margin-top: 20px;
    text-align: center;
    color: var(--text-light);
    cursor: pointer;
}

.register-link:hover {
    color: var(--primary);
}

/* Responsive */

@media (max-width: 900px) {
    .login {
        grid-template-columns: 1fr;
    }

    .login-left {
        display: none;
    }

    .login-right {
        padding: 20px;
    }

    .login-card {
        padding: 30px;
    }
}


.input-box {
    display: flex;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 8px;
    overflow: hidden;
    background: white;
}

.input-box input {
    flex: 1;
    border: none;
    padding: 14px;
}

.input-icon {
    margin-left: 15px;
    color: gray;
}

.eye-btn {
    background: none;
    border: none;
    padding: 0 15px;
    color: gray;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.options a {
    color: var(--primary);
}

.hero {
    display: flex;
    flex-direction: column;
}

.ongc-logo {
    width: 15vw;
    height: auto;
    display: block;
    margin: 0px auto 90px;
}