.appearance-settings{
    background:#fff;
    border:1px solid var(--border);
    border-radius:16px;
    padding:30px;
}

.appearance-settings h2{
    font-size:24px;
    margin-bottom:24px;
}

.appearance-list{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.appearance-item{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px;

    border:1px solid #EEF2F7;
    border-radius:12px;
}

.appearance-item h4{
    font-size:16px;
    margin-bottom:4px;
}

.appearance-item p{
    color:var(--text-light);
    font-size:14px;
}

.switch{
    position:relative;
    width:52px;
    height:28px;
}

.switch input{
    display:none;
}

.slider{
    position:absolute;
    inset:0;

    background:#CBD5E1;
    border-radius:50px;

    cursor:pointer;
    transition:.3s;
}

.slider::before{
    content:"";

    position:absolute;
    width:22px;
    height:22px;

    left:3px;
    top:3px;

    background:#fff;
    border-radius:50%;

    transition:.3s;
}

.switch input:checked + .slider{
    background:var(--primary);
}

.switch input:checked + .slider::before{
    transform:translateX(24px);
}

@media(max-width:768px){

    .appearance-item{
        flex-direction:column;
        align-items:flex-start;
        gap:16px;
    }

}