.personal-info{
    background:#fff;
    border:1px solid var(--border);
    border-radius:16px;
    padding:30px;
}

.personal-info h2{
    font-size:24px;
    margin-bottom:25px;
}

.info-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:22px;
}

.input-group{
    display:flex;
    flex-direction:column;
}

.input-group label{
    margin-bottom:8px;
    font-size:14px;
    font-weight:600;
    color:var(--text);
}

.input-group input{
    height:48px;
    padding:0 16px;

    border:1px solid var(--border);
    border-radius:10px;

    font-size:15px;

    outline:none;
    transition:.2s;
}

.input-group input:focus{
    border-color:var(--primary);
}

.save-profile-btn{
    margin-top:30px;

    padding:12px 26px;

    background:var(--primary);
    color:#fff;

    border:none;
    border-radius:10px;

    font-size:15px;
    font-weight:600;

    cursor:pointer;
    transition:.2s;
}

.save-profile-btn:hover{
    background:var(--primary-hover);
}

@media(max-width:768px){

    .info-grid{
        grid-template-columns:1fr;
    }

    .save-profile-btn{
        width:100%;
    }

}