.layout {
    min-height: 100vh;
    background: #F8FAFC;
}

.layout-main {
    margin-left: 250px;   /* Same as sidebar width */
    width: calc(100% - 250px);

    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

.layout-content {
    flex: 1;
    overflow-y: auto;
    padding: 0;
}